.author-img {
  /* background-image: url(../../../assets/images/IMG_1543.jpg); */
  background-image: url(../../../assets/images/Omolola.PNG);
  background-size: cover;
  background-position: unset;
}

